.parallax {
    /* The image used */
    background-image: url("https://picsum.photos/200/");

    /* Set a specific height */
    height: 40em;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-rows: 20% 80%;
}

#right-aside {
  grid-column-start: 4;
  border: 3px solid black;
}

.list {
  grid-column-start: 2;
}

main {
  display: grid;
  grid-template-columns: 5% 40% 5% 50%;
  grid-row-start: 2;
  background-color: grey;
}

 header {
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
