

body{
  font-family:Signika, Helvetica, Times ;
  font-size:1em ;
  margin: 0;
}

ul{
  list-style-type: none;
}
#hide{
  display: none;
}

header {
 grid-row-start: 1;
 display: flex;
 justify-content: center;
 /* background-color: ; */
 color: black;
}

.grid-container {
  display: grid;
  grid-template-rows: .25fr 25fr .25fr;
}
main {
  display: grid;
  grid-template-columns: 5% 40% 5% 50%;
  grid-row-start: 2;
  background-color: grey;
}

#right-aside {
  grid-column-start: 4;
  border: 3px solid black;
}

.list {
  grid-column-start: 2;
}
