body {
  background-color: #e6e6e6;
  font-family: Arial;
  margin-left: 3%;
  margin-right: 3%;
}


main {
  padding: 4vh 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .3fr .3fr .1fr;
  grid-gap: 1em;
}

.current-trip {
  grid-area: 2/1/4/2;

}


#trips-list {
  max-height: 80vh;
  overflow-x: scroll;

}

.welcome {
  grid-area: 1/1/2/3;
  text-align: center;
  /* padding-left: 65vh; */
  padding-top: 10vh;
  font-size: 30pt;
  font-family: Luckiest Guy;
  background: url("world.jpg");
}

#trip {
  display: grid;
  grid-area: 2/2/3/3;
  padding-top: 10vh;
  height: 30vh;
  overflow: scroll;

}

.new-reservation {
    grid-area: 3/2/4/3;

}

button#load, input[type="submit"] {
  border: none;
  margin: 0 auto 1em auto;
  font-size: 1em;
  padding: 5px 30px;
  background-color: #cccc00;
  color: #333333;
}
