header {
  height: 80px;
  width: 100vw;
  position: fixed;
  top:0;
  left: 0;
  background-color: lightblue;
}

main {
  position: fixed;
  margin-top: 80px;
  height: 85vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

button {
  height: 30px;
  width: 80px;
}

section {
  min-width: 30vw;
  display: grid;
  grid-template-rows: 1fr 10fr;
  padding: 10px;
  border: dotted black 1px;
}

content {
  max-height: 75vh;
  overflow-y: scroll;
}

p {
  font-size: .7em;
  color: blue;
}


.hidden {
  display: none;
}
