main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#page-header {
  color: orange;
}

.current-treks {
  border: dotted 3px green;
  width: 90%;
  /* grid-column-start: 1; */
}

.trip-details {
  border: dotted 3px green;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* grid-column-start: 2; */
}
